* {
    /* RESET CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #e6d8fe;
    font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #d8a3fd;
    ;
}

header a {
    text-decoration: none;
    text-transform: uppercase;

}

nav ul {
    list-style-type: none;

}

.nav-li {
    margin: 20px;

}

/* FOOTER */

footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #3c3c3c;
    color: white;
}

footer h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-columna {
    margin-top: 10px;
    width: 25%;
}

.footer-columna li {
    margin: 10px;
    font-size: 13px;
    list-style-type: none;

}

.footer-columna a {
    text-decoration: none;
    color: #aaaaaa;
}

.footer-columna p {
    font-size: 13px;
}

footer .container .row .col .copyright p {
    font-size: 15px;
    color:white;
}

.newsletter input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    text-align: center;
}

.boton-news {
    background-color: #502899;
    color: white;
}
.navbar-toggler-icon{
    background-image:url("../img/icons-menu-100-negro.svg");
}
/* MAIN */
h1 {
    margin: 20px;
}
.container .row .columna-3 img{
    border-radius: 10px;
}
.container .row .columna-3 {
    /* margin: 20px; */
    /* border: 1px solid blue; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.mas-info {
    background-color: #502899;
    height: 30px;
    width: 80px;
    margin: 20px;
    /* padding: 16px; */
    position: absolute;/* al hacer esto, la unica referencia que toma es el body*/
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;  
}
.mas-info a {
    color: white;
    text-decoration: none;
}

.banner {
    /* background-image: url(../img/banner-destinos.jpg);*/
    margin-bottom: 20px;
}

.columna-1 {
    width: 80%;
    margin: 20px;
}

/* INDEX */
/* .destinosDestacados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.destinosDestacados h2,
p {
    margin: 20px;
}

/* DESTINOS */
.columna-3 {
    /* margin: 20px; */
}

/* PROMOCIONES */
.columna-2 {
    margin: 20px;
}

/* CONTACTO */
.datosContacto {
    margin: 20px;
}

.datosContacto p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.datosContacto h3 {
    text-transform: uppercase;
}

.formulario {
    background-color: #cbb3f3;
    width: 400px;
    margin-left: 20px;
}

.formulario input {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    text-align: center;
}

.formulario-label {
    margin: 10px;
    font-size: 12px;
    font-style: italic;
}

.formulario textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
}